<template>
  <section class="section">
    <div class="container">
      <h1 class="title">
        <Breadcrumb :hierarchy="['Kubernetes']"/>
      </h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="grid grid-cols-3 gap-4">
        <div class="card">
          <h2 class="card-title">
            Services
          </h2>
          <div class="card-body">
            <div class="card-body-text">
              View and modify services
            </div>
          </div>
          <div class="card-actions">
            <router-link :to="{ name: 'kubernetes-services' }" class="btn btn-primary btn-block">
              Go to services
              &nbsp;<i class="fa-solid fa-arrow-right"></i>
            </router-link>
          </div>
        </div>
        <div class="card">
          <h2 class="card-title">
            Pods
          </h2>
          <div class="card-body">
            <div class="card-body-text">
              View and modify pods
            </div>
          </div>
          <div class="card-actions">
            <router-link :to="{ name: 'kubernetes-pods' }" class="btn btn-primary btn-block">
              Go to pods
              &nbsp;<i class="fa-solid fa-arrow-right"></i>
            </router-link>
          </div>
        </div>
        <div class="card">
          <h2 class="card-title">
            Nodes
          </h2>
          <div class="card-body">
            <div class="card-body-text">
              View nodes
            </div>
          </div>
          <div class="card-actions">
            <router-link :to="{ name: 'kubernetes-nodes' }" class="btn btn-primary btn-block">
              Go to nodes
              &nbsp;<i class="fa-solid fa-arrow-right"></i>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';

export default {
  name: 'Kubernetes',
  components: {
    Breadcrumb
  }
}
</script>

<style lang="scss" scoped>
</style>
