<template>
  <section class="section">
    <h1 class="title">
      <Breadcrumb :hierarchy="['Kubernetes', 'Nodes']"/>
    </h1>
  </section>

  <section class="section">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Allocatable CPU cores</th>
        <th>Allocatable memory</th>
        <th>Allocatable storage</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="node in nodes" :key="node.metadata.uid">
        <td>
          <span class="dot" :class="[node.spec.unschedulable ? 'dot-red' : 'dot-green']"/>
        </td>
        <td>{{ node.metadata.name }}</td>
        <td>{{ node.status.allocatable.cpu }}</td>
        <td>{{ Math.round(node.status.allocatable.memory.slice(0, -2) / 1000) }} MB</td>
        <td>{{ (node.status.allocatable['ephemeral-storage'] / 1000 / 1000 / 1000).toFixed(1) }} GB</td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';

export default {
  name: 'Nodes',
  components: { Breadcrumb },
  data() {
    return {
      nodes: []
    }
  },
  async created() {
    this.nodes = await this.$axios.get('/kubernetes/nodes').then(res => res.data);
  }
}
</script>

<style scoped>

</style>
