<template>
  <section class="section">
    <h1 class="title">
      <Breadcrumb :hierarchy="['Kubernetes', 'Pods']"/>
    </h1>
  </section>

  <section class="section">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Namespace</th>
        <th>Node</th>
        <th>Containers</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="pod in pods" :key="pod.metadata.uid">
        <td>
          <span class="dot" :class="[pod.status.phase === 'Running' ? 'dot-green' : 'dot-red']"/>
        </td>
        <td>{{ pod.metadata.name }}</td>
        <td>{{ pod.metadata.namespace }}</td>
        <td>{{ pod.spec.nodeName }}</td>
        <td style="word-wrap: anywhere">
          <template v-for="(container, index) in pod.spec.containers" :key="container.name">
            {{ container.name }}
            <template v-if="index < pod.spec.containers.length - 1">
              <br>
            </template>
          </template>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';

export default {
  name: 'Pods',
  components: { Breadcrumb },
  data() {
    return {
      pods: []
    }
  },
  async created() {
    this.pods = await this.$axios.get('/kubernetes/pods').then(res => res.data);
  }
}
</script>

<style lang="scss" scoped>
</style>
