<template>
  <section class="section">
    <h1 class="title">
      <Breadcrumb :hierarchy="['Kubernetes', 'Services']"/>
    </h1>
  </section>

  <section class="section">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Namespace</th>
        <th>Cluster IP</th>
        <th>Ports</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="service in services" :key="service.metadata.uid">
        <td>{{ service.metadata.name }}</td>
        <td>{{ service.metadata.namespace }}</td>
        <td>{{ service.spec.clusterIP }}</td>
        <td v-html="portsHTML(service)"/>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';

export default {
  name: 'Services',
  components: { Breadcrumb },
  data() {
    return {
      services: []
    }
  },
  methods: {
    portsHTML(service) {
      return service.spec.ports.map(p => {
        const ports = [];

        if (p.nodePort && p.nodePort !== p.port) {
          ports.push(p.nodePort);
        }

        ports.push(p.port);

        if (p.port !== p.targetPort) {
          ports.push(p.targetPort);
        }

        return `${ports.join(':')}/${p.protocol}`;
      }).join('<br>');
    }
  },
  async created() {
    this.services = await this.$axios.get('/kubernetes/services').then(res => res.data);
  }
}
</script>

<style scoped>

</style>
