$primary: #65afff;
$primary-light: #84bfff;
$primary-lighter: #93c7ff;
$primary-dark: #5b9ee6;
$primary-darker: #518ccc;

// https://www.w3schools.com/colors/colors_shades.asp
$white: white;
$gray: #d3d3d3;
$gray-light: #e0e0e0;
$gray-lighter: #f0f0f0;
$gray-dark: #b0b0b0;
