@import 'variables';
@import 'tailwind';
@import '@fortawesome/fontawesome-free/css/all.min.css';

.pointer {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  &.btn-primary {
    color: $white;
    background-color: $primary;

    &:hover:not(:disabled) {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $primary-light;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.btn-block {
    width: 100%;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
}

.section {
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
}

.card {
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 1rem;

  .card-title {
    margin-bottom: 0.5rem;
  }

  .card-body {
    .card-body-text {
      color: $gray-dark;
    }
  }

  .card-actions {
    margin-top: 0.75rem;
  }
}

.table {
  width: 100%;

  td, th {
    text-align: left;
    padding: 0.75rem 0.5rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  tbody > tr {
    border-top: 1px solid $gray-light;
  }
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;

  &.dot-green {
    background-color: #28a745;
  }

  &.dot-red {
    background-color: #dc3545;
  }
}
