<template>
  <section class="section">
    <div class="container">
      <h1 class="title">
        <Breadcrumb :hierarchy="['Apps']"/>
      </h1>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="grid grid-cols-3 gap-4">
        <div class="card" v-for="app in apps" :key="app.id">
          <h2 class="card-title">
            {{ app.name }}
          </h2>
          <div class="card-actions">
            <a :href="app.url" class="btn btn-primary btn-block" target="_blank" rel="noopener">
              Go to app
              &nbsp;<i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue';

export default {
  name: 'Apps',
  components: {
    Breadcrumb
  },
  data() {
    return {
      apps: []
    }
  },
  async created() {
    this.apps = await this.$axios.get('/apps').then(res => res.data);
  }
}
</script>

<style scoped>

</style>
