<template>
  <div class="login-container">
    <div class="login-box">
      <form @submit.prevent="onSubmit">
        <div class="field">
          <label for="email" class="label">Email</label>
          <input id="email" class="input" type="email" v-model="email">
        </div>
        <div class="field">
          <label for="password" class="label">Password</label>
          <input id="password" class="input" type="password" v-model="password">
        </div>
        <button class="btn btn-primary btn-block" value="submit" :disabled="buttonDisabled">Login</button>
      </form>
    </div>
  </div>
</template>

<script>
import http from '@/services/http';

export default {
  name: 'Login',
  computed: {
    buttonDisabled() {
      return !this.email || !this.password;
    }
  },
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    onSubmit() {
      this.$axios.post('/auth/login', {
        email: this.email,
        password: this.password
      }).then(res => {
        const token = res.data.token;
        http.afterLogin(token);
        this.$router.push({ name: 'dashboard' });
      }).catch(() => {
        // TODO
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    width: 400px;
    max-width: 90vw;
  }
}
</style>
