<template>
  <span v-for="(h, index) in hierarchy" :key="index">
    {{ h }}
    <span v-if="index < hierarchy.length - 1" class="breadcrumb-arrow">
      &nbsp;<i class="fa-solid fa-angle-right"></i>&nbsp;
    </span>
  </span>
</template>

<script>
export default {
  name: 'Breadcrumb',
  props: {
    hierarchy: {
      type: Array,
      required: false,
      default: []
    }
  }
}
</script>

<style lang="scss" scoped>
.breadcrumb-arrow {
  font-size: 60%;
  vertical-align: middle;
}
</style>
