<template>
  <div class="sidebar">
    <div class="sidebar-container">
      <div class="sidebar-profile">
        <div class="sidebar-profile-img"/>
        <div class="sidebar-profile-name">
          {{ name }}
        </div>
      </div>
      <ul class="sidebar-menu">
        <li class="sidebar-menu-item" :class="{active: isMenuOrSubmenuItemActive('dashboard')}">
          <router-link :to="{ name: 'dashboard' }" class="sidebar-menu-item-content">
            <i class="fa-solid fa-earth-europe sidebar-menu-item-content-icon"></i>
            <span class="sidebar-menu-item-content-title" :class="{active: isMenuItemActive('dashboard')}">
              Dashboard
            </span>
          </router-link>
        </li>
        <li class="sidebar-menu-item" :class="{active: isMenuOrSubmenuItemActive('apps')}">
          <router-link :to="{ name: 'apps' }" class="sidebar-menu-item-content">
            <i class="fa-solid fa-rocket sidebar-menu-item-content-icon"></i>
            <span class="sidebar-menu-item-content-title" :class="{active: isMenuItemActive('apps')}">
              Apps
            </span>
          </router-link>
        </li>
        <li class="sidebar-menu-item" :class="{active: isMenuOrSubmenuItemActive('kubernetes')}">
          <router-link :to="{ name: 'kubernetes' }" class="sidebar-menu-item-content">
            <i class="fa-solid fa-dharmachakra sidebar-menu-item-content-icon"></i>
            <span class="sidebar-menu-item-content-title" :class="{active: isMenuItemActive('kubernetes')}">
              Kubernetes
            </span>
          </router-link>
          <transition>
            <ul class="sidebar-submenu" v-if="isMenuOrSubmenuItemActive('kubernetes')">
              <li class="sidebar-submenu-item">
                <router-link :to="{ name: 'kubernetes-services' }" class="sidebar-submenu-item-content" :class="{active: isMenuItemActive('kubernetes-services')}">
                  Services
                </router-link>
              </li>
              <li class="sidebar-submenu-item">
                <router-link :to="{ name: 'kubernetes-pods' }" class="sidebar-submenu-item-content" :class="{active: isMenuItemActive('kubernetes-pods')}">
                  Pods
                </router-link>
              </li>
              <li class="sidebar-submenu-item">
                <router-link :to="{ name: 'kubernetes-nodes' }" class="sidebar-submenu-item-content" :class="{active: isMenuItemActive('kubernetes-nodes')}">
                  Nodes
                </router-link>
              </li>
            </ul>
          </transition>
        </li>
        <li class="sidebar-menu-item" :class="{active: isMenuOrSubmenuItemActive('servers')}">
          <router-link :to="{ name: 'servers' }" class="sidebar-menu-item-content">
            <i class="fa-solid fa-server sidebar-menu-item-content-icon"></i>
            <span class="sidebar-menu-item-content-title" :class="{active: isMenuItemActive('servers')}">
              Servers
            </span>
          </router-link>
        </li>
      </ul>
      <div class="sidebar-buttons">
        <i class="fa-solid fa-gear sidebar-button"></i>
        <i class="fa-solid fa-arrow-right-from-bracket sidebar-button" @click="logout"></i>
      </div>
    </div>
  </div>
</template>

<script>
import http from '@/services/http';

export default {
  name: 'Sidebar',
  props: {
    user: {
      type: Object,
      required: false,
      default: null
    }
  },
  computed: {
    name() {
      if (!this.user) {
        return '';
      }
      return `${this.user.firstName} ${this.user.lastName}`;
    }
  },
  methods: {
    isMenuItemActive(name) {
      return this.$route.name === name;
    },
    isMenuOrSubmenuItemActive(name) {
      return this.$route.name.startsWith(name);
    },
    logout() {
      http.logout();
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  height: 100vh;
  min-width: 300px;
  background: linear-gradient(90deg, $primary, $primary-lighter);
  display: flex;
  color: $white;

  .sidebar-container {
    margin: 2rem 1.5rem 1rem 1.5rem;
    flex: 1;
    display: flex;
    flex-flow: column;

    .sidebar-profile {
      display: flex;
      align-items: center;
      border-radius: 10px;
      background-color: $primary-darker;
      padding: 0.5rem;
      cursor: pointer;

      .sidebar-profile-img {
        height: 50px;
        width: 50px;
        background: url('@/assets/images/profile.jpg') 50% 50% no-repeat;
        background-size: cover;
        border-radius: 50%;
      }

      .sidebar-profile-name {
        text-align: center;
        flex: 1;
        font-weight: bold;
      }
    }

    .sidebar-menu {
      margin-top: 2rem;

      .sidebar-menu-item {
        border-radius: 10px;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &:hover, &.active {
          background-color: $primary-darker;
        }

        .sidebar-menu-item-content {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 1rem;

          .sidebar-menu-item-content-icon {
            font-size: 1.5rem;
            margin-right: 1rem;
          }

          .sidebar-menu-item-content-title.active {
            font-weight: bold;
          }
        }

        .sidebar-submenu {
          .sidebar-submenu-item {
            padding-left: calc(24px /* icon width */ + 1rem /* icon margin-right */);

            .sidebar-submenu-item-content {
              display: flex;
              align-items: center;
              cursor: pointer;
              padding: 0.5rem 1rem;

              &:hover, &.active {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    .sidebar-buttons {
      margin-top: auto;
      display: flex;
      justify-content: space-between;

      .sidebar-button {
        cursor: pointer;
        font-size: 1.125rem;

        &:hover {
          color: $gray-lighter;
        }
      }
    }
  }
}
</style>
