<template>
  <RouterView/>
</template>
<script>
import Sidebar from './components/Sidebar.vue';

export default {
  components: { Sidebar }
}
</script>

<style lang="scss">
@import '@/assets/scss/app';
</style>
