<template>
  <div class="layout-wrapper">
    <Sidebar :user="user"/>
    <div class="layout-router-view-wrapper">
      <RouterView/>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';

export default {
  name: 'DefaultLayout',
  components: { Sidebar },
  data() {
    return {
      user: null
    }
  },
  created() {
    this.$axios.get('/me').then(res => {
      this.user = res.data;
    });
  }
}
</script>

<style lang="scss" scoped>
.layout-wrapper {
  display: flex;

  .layout-router-view-wrapper {
    flex-grow: 1;
    max-height: 100vh;
    overflow-y: auto;
    padding: 1rem 2rem;
  }
}
</style>
